:root {
	--primary-lt-5: #D7DCEF;
    --primary-lt-4: #BDC7E5;
    --primary-lt-3: #A3B1DA;
    --primary-lt-2: #889DD0;
    --primary-lt-1: #6B88C5;
    --primary-dk-5: #1861B0;
    --primary-dk-4: #1A5090;
    --primary-dk-3: #1C4071;
    --primary-dk-2: #1B3053;
    --primary-dk-1: #162137;
    --secondary-lt-5: #DDDDDD;
    --secondary-lt-4: #C7C7C7;
    --secondary-lt-3: #B2B2B2;
    --secondary-lt-2: #9D9D9D;
    --secondary-lt-1: #898989;
    --secondary-dk-5: #616161;
    --secondary-dk-4: #505050;
    --secondary-dk-3: #404040;
    --secondary-dk-2: #303030;
    --secondary-dk-1: #222222;
}

body {
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none;
    font-variant: small-caps;
	transition: color .5s;
}

svg.fill-current path {
    fill: currentcolor;
}

#app {
    height: 100vh;
    display: flex;
}

#app, .side {
    overflow: hidden;
}

.page {
    height: calc(100vh - 360px);
    overflow-y: auto;
}

.two-sides {
    display: flex;
    flex-flow: row wrap;
}

.two-sides > div {
    flex-grow: 0;
    padding: 16px;
    width: 50%;
    text-align: center;
}

.theme-right {
	background-color: var(--secondary-dk-1);
	color: var(--primary-lt-1);
}