:root {
	--primary-lt-5: #D7DCEF;
    --primary-lt-4: #BDC7E5;
    --primary-lt-3: #A3B1DA;
    --primary-lt-2: #889DD0;
    --primary-lt-1: #6B88C5;
    --primary-dk-5: #1861B0;
    --primary-dk-4: #1A5090;
    --primary-dk-3: #1C4071;
    --primary-dk-2: #1B3053;
    --primary-dk-1: #162137;
    --secondary-lt-5: #DDDDDD;
    --secondary-lt-4: #C7C7C7;
    --secondary-lt-3: #B2B2B2;
    --secondary-lt-2: #9D9D9D;
    --secondary-lt-1: #898989;
    --secondary-dk-5: #616161;
    --secondary-dk-4: #505050;
    --secondary-dk-3: #404040;
    --secondary-dk-2: #303030;
    --secondary-dk-1: #222222;
}

body {
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none;
    font-variant: small-caps;
	transition: color .5s;
}

svg.fill-current path {
    fill: currentcolor;
}

#app {
    height: 100vh;
    display: flex;
}

#app, .side {
    overflow: hidden;
}

.two-sides {
    display: flex;
    flex-flow: row wrap;
}

.two-sides > div {
    padding: 32px;
    width: calc(50% - 64px);
    text-align: center;
}

@media screen and (max-width: 360px) /*Phone media querie*/
{
	.two-sides {
		height: 64vh;
        flex-flow: column;
	}
    .two-sides > div {
        width: calc(100% - 64px);
    }
}

.theme-right {
	background-color: var(--secondary-dk-1);
	color: var(--primary-lt-1);
}

.page::-webkit-scrollbar-button:single-button {
    display: block;
    border-width: 1px;
    border-style: solid;
    height: 16px;
    width: 16px;
}

#side-left {
    --main-bg: var(--secondary-lt-5);
    --main-txt: var(--primary-dk-1);
    --link: var(--primary-dk-5);
    --link-hover: var(--primary-dk-2);
    --link-focus: var(--primary-dk-4);
    --link-active: var(--primary-dk-3);
    --1-bg: var(--secondary-dk-4);
    --1-txt: var(--secondary-lt-4);
    --2-bg: var(--secondary-dk-3);
    --2-txt: var(--secondary-lt-3);
    --3-bg: var(--secondary-dk-2);
    --3-txt: var(--secondary-lt-2);
}

#side-right {
    --main-bg: var(--secondary-dk-1);
    --main-txt: var(--primary-lt-1);
    --link: var(--primary-lt-5);
    --link-hover: var(--primary-lt-2);
    --link-focus: var(--primary-lt-4);
    --link-active: var(--primary-lt-3);
    --1-bg: var(--secondary-lt-2);
    --1-txt: var(--secondary-dk-2);
    --2-bg: var(--secondary-lt-3);
    --2-txt: var(--secondary-dk-3);
    --3-bg: var(--secondary-lt-4);
    --3-txt: var(--secondary-dk-4);
}

#background {
    position: absolute;
	background-color: var(--main-bg);
    width: 100vw;
    height: 100vh;
}

.side.menu {
    background-color: var(--main-bg);
}

.side {
	color: var(--main-txt);
}

.side a {
	color: var(--link);
}

.side a:hover {
	color: var(--link-hover);
}

.side a:focus {
	color: var(--link-focus);
}

.side a:active,
.side a.router-link-active {
	color: var(--link-active);
}

.page {
    scrollbar-color: var(--1-txt) var(--1-bg);
}

.page::-webkit-scrollbar {
    width: 16px;
}

.page::-webkit-scrollbar-track {
    background: var(--1-bg);
}
  
.page::-webkit-scrollbar-thumb {
    background-color: var(--1-txt);
    border-radius: 8px;
    border: 1px solid var(--1-bg);
}

.page::-webkit-scrollbar-button:single-button {
    width: 16px;
    height: 16px;
    background-color: var(--1-txt);
    color: var(--1-bg);
}

.page::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.page::-webkit-scrollbar-button:single-button:vertical:increment {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}